/2003StateToState5k/source/*.md
/2003StateToState5k/source/*.html
/2003statetostate5k/source/figure/*.*
/2008columbushalfmarathon/source/figure/*.*
/2008ColumbusHalfMarathon/source/*.html
/2008ColumbusHalfMarathon/source/*.md
/2008PumpkinPie5k/source/figure/*.*
/2008PumpkinPie5k/source/*.html
/2008PumpkinPie5k/source/*.md
/2009columbushalfmarathon/source/figure/*.*
/2009ColumbusHalfMarathon/source/*.html
/2009ColumbusHalfMarathon/source/*.md
